.certification{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin: 80px 170px;
}

.certification-title{
    font-size: 40px;
    font-weight: 600;
    padding: 0px 30px;
    background: linear-gradient(267deg, #62cff4 10%, #2c67f2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.certificate-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.certificate-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 50px;
}

.certificate-format h3{
    font-size: 28px;
    font-weight: 600;
}

.certificate-format h2{
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(267deg, #62cff4 10%, #2c67f2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.certifition-readmore{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.certifition-readmore p{
    font-size: 22px;
}

.certifition-readmore p:hover{
    background: linear-gradient(267deg, #62cff4 10%, #2c67f2 100%);
}

.certificate-format:hover{
    border: 2px solid #2c67f2;
    transform: scale(1.05);
    transition: 0.4s;
}

@media(max-width:768px){
    .certification{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }

    .certification-title h2{
        padding: 0;
        font-size: 40px;
    }

    .certificate-format{
        gap: 20px;
        padding: 22px;
    }

    .certificate-format h3{
        font-size: 22px;
    }

    .certificate-format h2{
        font-size: 24px;
    }

    .certifition-readmore p{
        font-size: 18px;
    }

    .certificate-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}